<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <span>分类管理</span>
    <template>
        <el-row class="demo-avatar demo-basic">
          <el-col :span="12">
            <div class="sub-title"></div>
              <div class="block" v-for="size in sizeList" :key="size">
                <el-avatar :size="size" :src="circleUrl"></el-avatar>
              </div>
            </div>
          </el-col>   
        </el-row>
      </template>
      <el-dropdown>
          <span class="el-dropdown-link">
            用户名<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>账号设置</el-dropdown-item>
            <el-dropdown-item>退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
    <el-input size="mini" v-model="input" placeholder="输入分类名称">
    </el-input>
    <el-button type="primary" >查询</el-button>
    <el-button>新建分类</el-button>
    <template>
        <el-table
          :data="tableData"
          stripe
          style="width: 100%">
        <el-table-column width="50">
          <el-checkbox v-model="checked"></el-checkbox>
        </el-table-column>
          <el-table-column
            prop="name"
            label="分类名称">
          </el-table-column>
          <el-table-column
            prop="picture"
            label="分类图片">
          </el-table-column>
          <el-table-column
            prop="num"
            label="商品数">
          </el-table-column>
          <el-table-column
            prop="time"
            label="创建时间">
          </el-table-column>
          <el-table-column
            prop="mov"
            label="移动"
            width="300">
            <el-button icon="el-icon-upload2"></el-button>
            <el-button icon="el-icon-top"></el-button>
            <el-button icon="el-icon-bottom"></el-button>
            <el-button icon="el-icon-download"></el-button>

          </el-table-column>
          <el-table-column
            prop="do"
            label="操作">
            <el-button type="text">编辑</el-button>
            <el-button type="text">删除</el-button>
          </el-table-column>
        </el-table>
      </template>
      <el-button>批量删除</el-button>
      <template>
          <div class="block">
            <span class="demonstration"></span>
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage4"
              :page-sizes="[50, 100, 200]"
              :page-size="100"
              layout="total, sizes, prev, pager, next, jumper"
              :total="50">
            </el-pagination>
          </div>
        </template>
  </div>
  
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            visible: false,
            checked: false,
            input: '',
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
         squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",
        sizeList: ["small"],
            tableData: [{
            name: '素材元件',
            picture: '图1',
            num: '12',
            time:'2018-09-09 12:00:02'
          }, {
            name: '原型设计',
            picture: '图2',
            num: '45',
            time:'2018-09-09 12:00:02'
          }, {
            name: 'logo设计',
            picture: '图3',
            num: '0',
            time:'2018-09-09 12:00:02'
          }, {
            name: '产品定制',
            picture: '图4',
            num: '11',
            time:'2018-09-09 12:00:02'
          }] }
      },
      methods: {
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    }
    })
  </script>
  
</html>